alembic
SQLAlchemy
PyJWT
uvicorn
fastapi
celery
gunicorn
fastapi-event
ujson
click
greenlet
redis
pydantic
pydantic-settings
asyncpg
pytest
httpx
pyyaml
email-validator
python-jose
cryptography
passlib
bcrypt
faker
pytest-asyncio
